@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #FFF
}



/* body{
  /*   background-color: darkgrey;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 8%;
    background-color: rgba(220, 220, 220, 0.74);
    text-align: center;
    border: 2px, black ;
    border-radius: 10px;
}

.inp-quest{
    border-radius: 9px;
    border: 0.2px, grey;
    background-color: rgb(255, 254, 254);
    width: 75%;
} */

.hidden {
    display: none;
}