body{
    background-color: darkgrey;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 8%;
    background-color: rgba(220, 220, 220, 0.74);
    text-align: center;
    border: 2px, black ;
    border-radius: 10px;
}

.inp-quest{
    border-radius: 9px;
    border: 0.2px, grey;
    background-color: rgba(231, 223, 223, 0.192);
}